* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Reddit Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

.content {
    padding: 10px 30px;
}

.title_text {
    margin-bottom: 15px;
}

.platform {
    width: max-content;
    transition: all .3s ease 0s;
    display: flex;
    align-items: center;
}

.platform:hover {
    transform: scale(1.1);
}

.platform_icon {
    width: 30px;
    margin-right: 10px;
}

.platform_text {
    transition: all .3s ease 0s;
    text-decoration: none;
    font-size: 18px;
}

.platform_text:hover {
    color: lightcoral;
}

.links_section div:not(:last-child) {
    margin-bottom: 10px;
}

.contacts .section:not(:last-child) {
    margin-bottom: 30px;
}

.map {
    border-radius: 20px;
}